.dashboard {
  &__card {
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    &-button {
      color: #3b82f6;
      border-color: #3b82f6;
    }
  }
}